/*Configurações gerais*/
body{
	font-family: arial, sans-serif;
	min-width: 350px;
}

.parent_img{
	width: auto;
	margin: 0 auto;
}

img{
	max-width: 100%;
}

.container{
	width: 90%;
	margin: 0 auto;
}

.display_flex{
	display: flex;
	flex-direction: row;
}

.botao_input{
	width: 150px;
	height: 30px;
	border-radius: 10px;
	background-color: #005eff;
	border: 0;
	cursor: pointer;
	color: #fff;
	font-size: 17px;
}

a{
	text-decoration: none; 
}



/* ———————————— Cabeçalho ———————————— */
header{
	color: #fff;
	padding: 10px 20px;
	position: absolute;
	z-index: 5;
	width: 100%;
	box-sizing: border-box;
	min-width: 350px;
}

#title-logo:hover{
	text-shadow: 0 0 10px #fff;
	transform: scale(1.2);
	transition: 1.1s;
}

#cabecalho{
	display: flex;
	flex: row;
	justify-content: space-between;
	align-items: center;
}

#title-logo h1{
	font-size: 40px;
	padding: 5px 10px;
}

#botao-menu{
	cursor: pointer;
}

#botao-menu div{
	background: #fff;
	width: 30px;
	height: 3px;
	margin: 3px 0;
}

#nav-menu{
	position: fixed;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	width: 250px;
	height: 100%;
	display: none;
}

.bordas_li{
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

#fechar-nav{
	float: right;
	top: 0;
	right: 0;
	margin: 20px;
}

#fechar-nav div{
	background: #fff;
	width: 20px;
	height: 3px;
	margin: 1px 0;
	cursor:pointer;
}

#bar-01{
	transform: rotate(45deg);
}

#bar-02{
	transform: rotate(-45deg) translate(3px, -3px);
}

#nav-menu ul{
	clear: both;
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

#nav-menu a{
	color: #fff;
}

 #nav-menu li{
 	margin: 10px 20px;
 }

/* ———————————— Banner ———————————— */
#banner{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

#banner::before{
	content:'';
	position: absolute;
	z-index: 1;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	animation: bannerBg 4s;
}

#secao01{
	text-align: center;
	color: #fff;
	padding: 120px 10px;
	position: relative;
	z-index: 3;
	animation: banner 6s;
}

#secao01_title{
	font-size: 50px;
	padding: 40px 0;
}

#secao01_txt{
	font-size: 20px;
	padding: 40px 20px;
}

@keyframes banner{
	0%{opacity: 0}
	40%{opacity: 0}
	100%{opacity: 100}
}

@keyframes bannerBg{
	0%{opacity: 1}
	30%{opacity: 1}
	100%{opacity: 0.7}
}




/* ———————————————————————— Seção 02 ———————————————————————— */

#secao02{
	padding: 100px 10px;
}
/*Imagem*/
#secao02_img{
	width: 40%;
}

#secao02_img img{
	border-radius: 50%;
}

/*Texto*/
#secao02_txt{
	width: 60%;
	padding-left: 30px;
	color: #A9A9A9;
}

#title02{
	padding: 10px 0 20px;
}

#title02 h3{
	font-size: 30px;
	color: #000;
}

#txt02{
	padding: 20px 0;
}

#txt02 p{
	font-size: 17px;
}



/* ———————————————————————— Seção 03 ———————————————————————— */
#secao03{
	background-color: #005eff;
	padding: 100px 10px;
}

/*Texto*/
#secao03_txt{
	width: 60%;
	color: #fff;
	padding-right: 30px;
}

#title03{
	padding: 10px 0 20px;
}

#secao03_txt h3{
	font-size: 30px;
}

#txt03{
	padding: 20px 0;
}

#txt03 p{
	font-size: 17px;
}

/*Imagem*/
#secao03_img{
	width: 40%;
}

#secao03_img img{
	border-radius: 50%;
}



/* ———————————————————————— Seção 04 ———————————————————————— */
#secao04{
	background-color: #FAFAFA;
	text-align: center;
	padding: 100px 10px;
}

/*Cabeçalho da seção 04*/

#sec04_title{
	padding: 30px 0;
}

#sec04_title h3{
	font-size: 35px;
	margin-bottom: 20px;
}

#sec04_title div{
	padding: 20px 10px;
}

#sec04_title p{
	color: #A9A9A9;
}

/*Corpo da seção 04*/
.txt04{
	color: #A9A9A9;
	padding: 10px 0 30px;
}

.s04_width{
	width: 30%;
	margin: 0 auto;
}

.secao04_img{
	border-radius: 50%;
	padding: 40px 0;
}

.secao04_txt{

}



/* ———————————————————————— Seção 02 ———————————————————————— */
#rodape{
	background: rgba(0, 0, 0, 0.9);
	color: #7D7D7D;
	padding: 60px 20px;
}

#footertxt{
	padding-right: 10px;
	width: 40%;
	box-sizing: border-box;
}

#footertxt h4, #footerli h4, #redes_sociais h4{
	font-size: 23px;
	padding-bottom: 30px;
	color: #fff;
}

#footertxt p{
	font-size: 15px;
	padding-bottom: 30px;
	line-height: 25px;
}

#footerli, #redes_sociais{
	padding: 0 20px;
	width: 30%;
	box-sizing: border-box;
}

#footerli li{
	font-size: 15px;
	padding: 10px 0;
}

.border_bottom{
	border-bottom: 1px solid #7D7D7D;
}

hr{
	border-color: #7D7D7D;
}

#redes_sociais li{
	padding: 10px 0;
}

#redes_sociais .icon{
	padding: 0 10px;
	color: #fff;
}

#redes_sociais a{
	color: #7D7D7D;

}

#dir{
	padding-top: 20px;
	text-align: center;

}

#dir a{
	color: #7D7D7D;
}

.flex_rodape{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}



/* ————————————————————————  media Query ————————————————————————  */
 @media only screen and (max-width: 720px){
 	#secao02, #secao03, #secao04{
 		padding: 60px 10px;
 	}
 	.display_flex{
 		flex-direction: column;
 	}

 	#secao02_img, #secao02_txt, #secao03_txt, #secao03_img{
 		width: 100%;
 	}

 	 #secao02_txt{
 	 	padding: 0;
 	 }

 	.flex_parent{
 		display: flex;
 		justify-content: space-around;
 		margin: 30px 0;
 	}

 	.s04_width{
 		width: 100%;
 	}

 	#footertxt{
 		width: 100%;
 	}

 	#footerli, #redes_sociais{
 		width: 50%;
 	}
 }

 @media only screen and (max-width: 520px){
 	#footerli, #redes_sociais{
 		width: 100%;
 		padding: 0;
 	}

 	#footerli{
 		margin-bottom: 30px;
 	}
 }